<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POS.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column bg-dark text-white position-fixed" style="width:250px; height:100vh;">
        <h5 class="text-center p-3">POS</h5>
        <hr class="border-light mx-3"/>
        <partial name="_HomeMenuPartial"/>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            @if ((await _authorizationService.AuthorizeAsync(User, Policy.InventoryCreateOrList)).Succeeded)
            {
                <partial name="_InventoryMenuPartial"/>
            }
            @* @if ((await _authorizationService.AuthorizeAsync(User, Policy.PurchaseEntry)).Succeeded) *@
            @* { *@
            @*    <partial name="_PurchasePartial"/> *@
            @* } *@
            @* @if ((await _authorizationService.AuthorizeAsync(User, Policy.SalesEntry)).Succeeded) *@
            @* { *@
            @*    <partial name="_PosPartial"/> *@
            @* } *@
        }

        <partial name="_LoginPartial"/>
    </div>

    <!-- Main Content -->

    <div class="ms-250" style="margin-left:250px; padding:1rem;">
        <!--Card for content-->
        <div class="card shadow-sm">
            <div class="card-body">
                @if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null || TempData["WarningMessage"] != null)
                {
                    <div class="alert-container">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div id="autoCloseAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div id="autoCloseAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                                @TempData["ErrorMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (TempData["WarningMessage"] != null)
                        {
                            <div id="autoCloseAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                                @TempData["WarningMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    </div>
                }

                <div class="alert-container">
                    <div id="bs-success" class="alert alert-success alert-dismissible fade show d-none" role="alert">
                        <span id="bs-success-text"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div id="bs-error" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                        <span id="bs-error-text"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div id="bs-warning" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                        <span id="bs-warning-text"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                 <main role="main" class="pb-3"> 
                   @RenderBody()
                 </main> 
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-confirm-delete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const statusEnum = {
            Success: 1,
            Error: 2
        };
        function alertMessage(message, status = statusEnum.Fail){
            let alertSelector;
            let alertSelectorText;
            if (status === statusEnum.Success) {
                alertSelector = "#bs-success";
                alertSelectorText = "#bs-success-text";
            } else{
                alertSelector = "#bs-error";
                alertSelectorText = "#bs-error-text";
            }
            $(alertSelector).removeClass("d-none");
            $(alertSelectorText).text(message);
            setTimeout(function () {
                $(alertSelector).addClass("d-none");
            }, 7000); 
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
